<%- include("templates/cabezeras",{tituloweb: 'pagina de inicio'}) %>
<body>

  <div class="container mt-3 text-success text-center">
   <h3>Laboratorio EC2-AWS -NODEJS-MYSQL</h3>
  </div>

   <div class="container mt-5">
    <img src="https://www.gs1es.org/wp-content/uploads/2016/02/Amazon-Logo-PNG.png">
   </div>
</body>
</html>