<%- include("templates/cabezeras",{tituloweb: 'pagina de servcios'}) %>
<body>
  <div class="container mt-3">
    <img src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2022/02/aws-2617683.jpg">
  </div>
</body>
</html>